.translate-container {
    position: absolute;
    bottom: 122px;
    right: 28px;
    padding: 15px;
    z-index: 1000;
    max-width: 300px;
    display: none;
    background-color: #fff8e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

