.vote-thanks {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6f9f1;;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: .8rem;
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 2s ease-out forwards;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  .untruth-thanks {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6f9f1;;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: .8rem;
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 2s ease-out forwards;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

    
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
    10% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -40%);
    }
  }